@charset "UTF-8";

@media screen and(min-width:768px) {
    #burg{
        display: none;
    }
    menu{
        display:block;
         }
    menu>ul>li{
        display: inline-block;
        padding: 20px;
    }
}