@charset "UTF-8";
/*estilo global*/
*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    
    box-sizing: border-box;
}
html{
    height: 100vh;
}
body{
    background: black url(../imagens/back-phone.jpg) no-repeat ;
    background-size: cover;
    background-position: center center;
    

}
main{
    background-color: rgba(240, 248, 255, 0.57);
    width: 80vh;
    margin: auto;
    margin-top: 25px;
    border-radius: 10px;
    padding: 10px;
    
}
h1{
    font-size: 2em;
    text-align: center;
    color: antiquewhite;
    text-shadow: 1px 2px 0px rgba(0, 0, 0, 0.66);
}
img{
    display: block;
    margin: auto;
}

img#fone{display: block;}
img#tab{display: none;}
img#pc{display: none;}
img#tv{display: none;}
img#impre{display:none;}