@charset "utf-8";

body{
  background-color:rgba(240, 196, 228, 0.868);font-family:Arial, Helvetica,serif;font-size: 18px; }
 h1{color:indigo;} 
 h2{color:darkred}
 p{text-align: justify;color:darkblue;}
